<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.infinix.note12v2023.systemui"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.vendor.device"
                android:requiredSystemPropertyValue="Infinix-X676C"
                android:priority="954"
                android:isStatic="true" />
</manifest>
