<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.TECNO.Spark10Pro"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
        	android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        	android:requiredSystemPropertyValue="+TECNO/KI7*"
		android:priority="816"
		android:isStatic="true" />
</manifest>
